<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <header>
            <h1 class="title">Sports Store</h1>
        </header>
        <nav id="categories">
            @{ Html.RenderAction(actionName: "Menu", controllerName: "Nav");}
        </nav>
        <section id="content">
            @RenderBody()    
        </section>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
